Package: LocalTimeServer
Version: <version>
Architecture: all
Maintainer: support@delaneymorgan.com.au
Depends: python3 (>=3.6)
Installed-Size: in_kb
Homepage: http://github.com/delaneymorgan/BOMWeatherServer
Description: A simple local time server
 Point your browser to http://<listener>:10124 to receive the local time as a JSON object.  i.e.:
  {
    "observation": {
      "temp_now": 22.7
    },
    "forecast": [
      {"dow": "Mon", "temp_max": "25", "icon_name": "sunny"},
      {"dow": "Tue", "temp_max": "20", "icon_name": "clear"},
      {"dow": "Wed", "temp_max": "22", "icon_name": "partly-cloudy"},
      {"dow": "Thu", "temp_max": "23", "icon_name": "rain"},
      {"dow": "Fri", "temp_max": "24", "icon_name": "storm"}
    ]
  }