[Unit]
Description=Simple Australian Bureau of Meteorology weather server
After=network.target

[Service]
User=root
Group=www-data
ExecStart=/opt/damco/BOMWeatherServer/BOMWeatherServer -l 0.0.0.0 -p 10124

[Install]
WantedBy=multi-user.target
