[Unit]
Description=Simple Australian Bureau of Meteorology weather server
After=network.target

[Service]
User=root
Group=www-data
WorkingDirectory=/opt/damco/BOMWeatherServer
ExecStart=/opt/damco/BOMWeatherServer/bom_weather_server.py -l 0.0.0.0 -d XXXXXX -f XXXXXX -p 10124

[Install]
WantedBy=multi-user.target
